/*reset.css start*/

html {
    height: 100%;
    width: 100%;
    font-family: sans-serif; /* 1 */
    -ms-text-size-adjust: 100%; /* 2 */
    -webkit-text-size-adjust: 100%; /* 2 */
    -webkit-tap-highlight-color:rgba(0, 0, 0, 0);
}

body{
    position: relative;
    height: 100%;
    width:100%;
    background-color: #fff;
    color: #6a6c6f;
    font-size: 14px;
    margin: 0;
    overflow: auto;
}

article,
aside,
details, /* 1 */
figcaption,
figure,
footer,
header,
main, /* 2 */
menu,
nav,
section,
summary {
    /* 1 */
    display: block;
}

audio,
canvas,
progress,
video {
    display: inline-block;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

progress {
    vertical-align: baseline;
}

/**
 * Add the correct display in IE 10-.
 * 1. Add the correct display in IE.
 */

template, /* 1 */
[hidden] {
    display: none;
}

a {
    background-color: transparent;
}

a:active,
a:hover {
    outline-width: 0;
}

abbr[title] {
    border-bottom: none; /* 1 */
    text-decoration: underline; /* 2 */
    text-decoration: underline dotted; /* 2 */
}

b,
strong {
    font-weight: inherit;
}

b,
strong {
    font-weight: bolder;
}

dfn {
    font-style: italic;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

mark {
    background-color: #ff0;
    color: #000;
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

img {
    border-style: none;
}

svg:not(:root) {
    overflow: hidden;
}

code,
kbd,
pre,
samp {
    font-family: monospace, monospace; /* 1 */
    font-size: 1em; /* 2 */
}

figure {
    margin: 1em 40px;
}

hr {
    box-sizing: content-box; /* 1 */
    height: 0; /* 1 */
    overflow: visible; /* 2 */
}

/* Forms
   ========================================================================== */

/**
 * Change font properties to `inherit` in all browsers (opinionated).
 */



button,
input,
select,
textarea {
    font: inherit;
    outline:none;

}

optgroup {
    font-weight: bold;
}

button,
input, /* 1 */
select {
    /* 2 */
    overflow: visible;
}

button,
input,
select,
textarea {
    /* 1 */
    margin: 0;
    color: #666;
}

/**
 * Remove the inheritence of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritence of text transform in Firefox.
 */

button,
select {
    /* 1 */
    text-transform: none;

}

/**
 * Change the cursor in all browsers (opinionated).
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
    cursor: pointer;

}

[disabled] {
    cursor: default;
}

button,
html [type="button"], /* 1 */
[type="reset"],
[type="submit"] {
    -webkit-appearance: button; /* 2 */
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

button:-moz-focusring,
input:-moz-focusring {
    outline: 1px dotted ButtonText;
}

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

legend {
    box-sizing: border-box; /* 1 */
    color: inherit; /* 2 */
    display: table; /* 1 */
    max-width: 100%; /* 1 */
    padding: 0; /* 3 */
    white-space: normal; /* 1 */
}

textarea {
    overflow: auto;
}

[type="checkbox"],
[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

[type="search"] {
    -webkit-appearance: textfield;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}


/*
 * 项目公共样式
 *
 */
div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6,
p, pre, a, img, strong,
dl, dt, dd, ol, ul, li,
fieldset, form, label,
table, tbody, tfoot, thead, tr, th, td {
    text-decoration: none;
    vertical-align: baseline;
    margin: 0;
    padding: 0;
    font-family: "微软雅黑", Arial;
    box-sizing: border-box;
}

/*****scrollbar start ******/
/*::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

::-webkit-scrollbar-track-piece {
    background-color: #CCCCCC;
    -webkit-border-radius: 6px;
}

::-webkit-scrollbar-thumb:vertical {
    height: 5px;
    background-color: #999999;
    -webkit-border-radius: 6px;
}

::-webkit-scrollbar-thumb:horizontal {
    width: 5px;
    background-color: #CCCCCC;
    -webkit-border-radius: 6px;
}*/

/*****scrollbar end ******/

/*下拉框的样式*/
select::-ms-expand {
    display: none; /*清除ie的默认选择框样式清除，隐藏下拉箭头*/
}

select {
    /*很关键：将默认的select选择框样式清除*/
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    /*在选择框的最右侧中间显示小箭头图片*/
    background: url(../images/arrow_down.png) no-repeat scroll right center transparent;
    background-position:right;
    /*为下拉小箭头留出一点位置，避免被文字覆盖*/
    padding-right: 25px;
}

li{
    list-style-type: none;
}

/*reset.css end*/
a{
	color: #333;
	text-decoration: none;
}
.list-style-none{
	list-style: none;
}
.bg-white{
	background-color: white;
}
.mg-30{
	margin: 20px;
}
.wd-220{
	width: 220px;
}
.pdt-50{
	padding-top: 50px;
}
.wd-66{
	width: 66px;
}
.fl-right{
	float: right;
}
.fl-left{
	float: left;
}
.tx-right{
	text-align: right;
}
.tx-left{
	text-align: left;
}
.pl-10{
	padding-left: 10px;
}
.clearfix {
	zoom: 1;
}

.clearfix:after {
	display: block;
	content: '';
	clear: both;
}
.flex{
	display:flex;
}
.pd10{
	padding:10px;
}

.header {
	width: 100%;
	height: 55px;
	color: #999;
	background-color: #f3f3f4;
	position: fixed;
	left: 0;
	right: 0;
	z-index: 1000;
	border-bottom: 1px solid #e7eaec;
}

.user-info{
	float: right;
	line-height: 55px;

}
.user-info img{
	vertical-align: middle;
	width: 34px;
	height: 34px;
	border-radius: 55%;
	border: 2px solid white;
	margin-right: 10px;
}
.header-fixed-top {
	top: 0;
}

.header-logo {
	float: left;
	display: inline-block;
	width: 220px;
	height: 55px;
	font-size: 20px;
	line-height: 55px;
	color: #aad9ed;
	background-color: #2f4050;
	padding-left: 16px;
}
.logo{
	display: inline-block;
	height: 22px;
	width: 36px;
	background: url(../images/logo.png) no-repeat;
	background-size:cover;
	vertical-align: -5px;
	margin-right: 10px;
}
.header-wh {
	height: 55px;
	line-height: 55px;
	padding: 0 24px 0 10px;
}

.header-title {
	float: left;
}

/*头部导航 start*/
.header-bar {
	float: right;
}

.header-bar> ul> li {
	width: 55px;
	text-align: center;
	list-style: none;
	float: left;
	position: relative;
}

.header-bar ul li> a {
	color: #999;
}

.header-bar ul li .arrow {
	display: none;
}

.header-bar ul li:hover {
	cursor: pointer;
	background-color: rgba(255, 255, 255, .07);
}

.header-bar> ul li> ul {
	width: 180px;
	display: none;
	position: absolute;
	top: 100%;
	right: 0;
	text-align: left;
	list-style: none;
	background-color: white;
	box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
	border-radius: 4px;
}


/*.header-bar ul li:hover ul{
				display: block;
			}*/

.header-bar ul li.open {
	background-color: rgba(255, 255, 255, .07);
}

.header-bar ul li.open ul {
	display: block;
}

.header-bar ul ul li a {
	color: #333;
	display: block;
	padding: 19px 16px;
	line-height: 1;
}

.header-bar ul ul li a:hover {
	background-color: rgba(237, 240, 245, .5);
}

.header-bar ul ul li span:nth-child(1) {
	width: 14px;
	height: 14px;
	margin-right: 15px;
}
/*头部导航 end*/

/*左边导航栏样式 strat*/
.navbar {
	width: 220px;
	background-color: #2f4050;
	position: fixed;
	z-index: 999;
	top: 55px;
	left: 0px;
	bottom: 0px;
	overflow: hidden;
	box-shadow: 2px 0 4px rgba(0, 0, 0, .08);
}
.date-time{
	height: 60px;
	line-height: 60px;
	padding-left: 16px;
	position: relative;
	color: white;

}
.date-time .date{
	font-size: 18px;
}
.date-time .week{
	font-size: 14px;
}
.date-time .go-left{
	position: absolute;
	display: inline-block;
	width: 20px;
	height: 20px;
	border-radius: 10px 0 0 10px;
	background-color: gainsboro;
	top: 50%;
	right: 0;
	margin-top: -10px;
	text-align: center;
	line-height: 20px;
	color: #a7b1c2;
}
.navbar-wrap {
	width: 240px;
	overflow-y: hidden;
	height: 100%;
}

.navbar-list {
	width: 220px;
}

.navbar-list ul ul ul a{
	padding-left: 40px;
}
.navbar-list li a {
	display: block;
	padding: 14px 16px;
	font-size: 16px;
	color: #a7b1ac;
}

.navbar-list li a span:nth-child(1) {
	display: inline-block;
	width: 14px;
	height: 14px;
}

.navbar-list li a span:nth-child(2) {
	display: inline-block;
	margin-left: 15px;
}

.navbar-list ul li a .arrow {
	float: right;
	transform: translateY(2px);
	transition: all .2s ease;
}

.navbar-list> ul>li.open {
	background-color: #293846;
}

.navbar-list ul li.open> a .arrow {
	float: right;
	transform: rotate(90deg);
	transition: all .2s ease;
}

.navbar-list>ul>li.open>ul {
	display: block;
}

.navbar-list>ul ul>li.open>ul {
	display: block;
}

.navbar-list li ul {
	display: none;
}

.navbar-list li.open> a {
	background-color: #293846;
	color: white;
}

.navbar-list a:hover {
	background-color: #293846;
	color: white;
}

/*左边导航栏样式 end*/

/*表格样式start*/
table {
	border-collapse: collapse;
}

.table-list {
	font-size:14px;
	width: 100%;
	border: 1px solid #d5e5ed;
	border-left: none;
	border-right: none;
	table-layout:fixed;
}

.table-list thead tr th,
.table-list tbody tr td {
	text-align: center;
	border-bottom: 1px solid #d5e5ed;
	vertical-align: middle;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.table-list thead tr th{
	height:40px;
}

.table-list tbody tr td{
	height:50px;
}

.table-list thead tr th {
	padding: 18px 5px;
	font-weight: normal;
	color: #333;
}

.table-list thead tr {
	background: #e5edfa;
	color: #666;
}

/*search-group*/

/*btn start*/
.btn-def{
	display:inline-block;
	box-sizing:border-box;
	height:28px;
	line-height:28px;
	padding:0 10px;
	border: 1px solid #becfe4;
	border-radius: 3px;
	background:transparent;
	cursor:pointer;
}

/*btn end*/

/*容器——两类，一类全页面，一类有左侧导航栏*/
.nav-box,.full-box{
	height: 100%;
	min-width: 1260px;
	box-sizing:border-box;
	position:relative;
	display:block;
	background: #edf0f5;
}

.nav-box{
	padding:65px 10px 10px 230px;
}

.full-box{
	padding:65px 10px 10px 10px;
}

.full-box .content{
	padding:10px 240px;
}

.content{
	box-sizing:border-box;
	width:100%;
	min-height:100%;
	background:#fff;
	border: 1px solid #dee8f2;
}

/*左右布局 strat*/
.content .left_list{
	box-sizing:border-box;
	border-right:1px solid #d9dade;
	overflow: hidden;
	width:30%;
}

.content .right_list{
	box-sizing:border-box;
	overflow: hidden;
	width:70%
}

.left_list .list_header,.right_list .list_header{
	display:flex;
	align-items:center;
	padding:10px;
	width: 100%;
	height: 40px;
	background: #dee8f2;
}

.list_float li{
	height:50px;
	line-height:50px;
	padding-left:20px;
	border-bottom:1px solid #f1f1f3
}

.list_float li.ckd,
.list_float li:hover{
	background-color:#ecf2fe
}

.list_float li a{
	display:inline-block;
	width:100%;
	height:100%
}

/*左右布局 end*/

/*form lei*/
input,select{
	box-sizing:border-box;
	font-size:14px;
	vertical-align: middle;
}

input[type='text'],select{
	border-radius:2px;
	border:1px solid #d5e5ed;
	width:146px;
	height:28px;
	line-height:28px;
}

input[type='text']{
	padding:0 10px;
}

select{
	padding-left:10px;
}

.form-group{
	font-size:0px;
}

.search-block{
	display:block;
	margin:15px 0;
}

.search-inb{
	display:inline-block;
	margin:15px 0;
}

.search-block *,.search-inb * {
	box-sizing: border-box;
	vertical-align: middle;
}

.search-block select,
.search-block input[type="text"],
.search-block input[type="submit"],
.search-block textarea,
.search-inb select,
.search-inb input[type="text"],
.search-inb input[type="submit"],
.search-inb textarea {
	font-size: 14px;
}
.search-inb select,
.search-inb input[type="text"],
.search-inb input[type="submit"],
.search-inb textarea{
	margin-left: 10px;
}


.search-block label,.search-inb label {
	font-size: 14px;
	color: #666;
	height:28px;
	line-height:28px;
}

.search-block label{
	display:block;
	margin-bottom: 15px;
}

.search-inb label{
	display:inline-block;
	width: 110px;
	text-align: right;
}

.search-block select,
.search-block input[type="text"],
.search-inb select,
.search-inb input[type="text"] {
	padding: 0 10px;
	width: 174px;
	height: 28px;
	border: 1px solid #dee8f2;
}

/*form lei*/

/*弹框下的一系列东西*/
.layui-layer-content body{
	padding-top:0;
}

/*弹框下的一系列东西*/

/*分页*/
.g-pagebar{text-align:center;padding:8px 0;width:100%;font-size:14px;cursor:default;}
.pagebar_numlist a, .pagebar_numlist .pagebar_numlist_current{margin:0px 2px;padding:8px 12px;border-radius:3px;display:inline-block;}
.pagebar_numlist a{border:1px solid #e3e3e3;border-radius:3px;background-color:#FFF;}
.pagebar_numlist .pagebar_numlist_current,.pagebar_numlist a:hover{background-color:#3277de;color:#fff;border:1px solid #3277de;}
.pagebar_numlist .g-pagenext,.pagebar_numlist .g-pageprev{background-image:url(../images/arrows.png);background-repeat:no-repeat;padding:8px 16px;}
.pagebar_numlist .g-pagenext{background-position:center -48px;}
.pagebar_numlist .g-pageprev{background-position:center 0;}
.pagebar_numlist  .g-pageprev:hover{background-position:center -96px;}
.pagebar_numlist .g-pagenext:hover{background-position:center -144px;}
.pagebar_numlist span em{display:inline-block;padding:8px 0;*vertical-align:middle;}
.pagebar_numlist input{width:30px;padding:8px;text-align:center;margin:0 3px;border-radius:3px;*vertical-align:middle;}
.pagebar_numlist button{padding:8px 12px;*padding:6px 6px;*vertical-align:middle;text-align:center;margin:0 3px;border-radius:3px;outline:none;cursor:pointer;font-size:14px;}
.pagebar_numlist button:hover{background:#3277de;color:#FFF;}