.sup-main-ctlist, .sup-showlayer-ct, .sup-showlayer-ctr ul, .sup-showlayer-currency ul { *zoom: 1; }
.sup-main-ctlist:after, .sup-showlayer-ct:after, .sup-showlayer-ctr ul:after, .sup-showlayer-currency ul:after, .sup-main-ctlist:before, .sup-showlayer-ct:before, .sup-showlayer-ctr ul:before, .sup-showlayer-currency ul:before { content: ""; display: table; }
.sup-main-ctlist:after, .sup-showlayer-ct:after, .sup-showlayer-ctr ul:after, .sup-showlayer-currency ul:after { clear: both; }

.sup-main-hd { height: 100px; border-top: 1px solid #fff; border-bottom: 1px solid #bacce0; background-color: #eef5fd; }

.sup-main-hdtit { line-height: 55px; text-align: center; font-size: 24px; font-weight: normal; margin: 0 200px; }

.sup-main-hdbtn, .sup-showlayer-ft { margin: 0 200px; text-align: right; font-size: 0; }
.sup-main-hdbtn button, .sup-showlayer-ft button { margin-right: 10px; line-height: 30px; padding: 0 16px; border-radius: 3px; border: 1px solid #becee5; outline: none; background-color: transparent; font-size: 14px; }

.sup-main-ct { margin: 0 200px; }

.sup-main-ctlist { padding: 20px 0; }
.sup-main-ctlist li { margin-top: 16px; width: 50%; line-height: 34px; float: left; }
.sup-main-ctlist li label { width: 120px; line-height: 38px; float: left; text-align: right; }
.sup-main-ctlist li dl { width: 400px; margin-left: 120px; position: relative; }
.sup-main-ctlist li dl input { width: 400px; padding-right: 70px; padding-left: 3px; border: 1px solid #d5e5ed; box-sizing: border-box; border-radius: 2px; }
.sup-main-ctlist li.sup-currency { width: 100%; }
.sup-main-ctlist li.sup-currency dl { width: auto; box-sizing: border-box; }
.sup-main-ctlist li.sup-currency i { font-size: 14px; margin-left: 8px; cursor: pointer; }
.sup-main-ctlist li[type-disabled='1'] i.close { display: none; }
.sup-main-ctlist li[type-disabled='2'] i.close { display: table-cell; }
.sup-main-ctlist li[type-disabled='3'] input { border-color: transparent; background-color: transparent; }
.sup-main-ctlist li[type-disabled='3'] i { display: none; }
.sup-main-ctlist li[type-disabled='3'].sup-currency .add { display: none; }
.sup-main-ctlist li[type-disabled='3'].sup-currency a { border-color: transparent; padding: 11px 2px; margin-left: 0; }
.sup-main-ctlist li[type-disabled='3'].sup-currency a:before { content: '/'; padding-right: 4px; }
.sup-main-ctlist li[type-disabled='3'].sup-currency a:first-child:before { content: ''; }

.sup-font { position: absolute; right: 1px; top: 1px; height: 36px; font-size: 0; display: table; background-color: #fff; }
.sup-font i {display: inline-block; width: 28px; height: 28px; line-height: 28px; font-size: 24px; text-align: center; vertical-align: middle; cursor: pointer; color: #a7bfd6; }
.sup-font i.icon-guanbi { font-size: 20px; }
.sup-font i + i { border: 1px solid #d5e5ed; border-right: none}

.sup-currency dl { font-size: 0; display: table; }
.sup-currency dl a { padding: 9px 10px; line-height: 16px; display: inline-block; font-size: 14px; border: 1px solid #d5e5ed; vertical-align: middle; border-radius: 2px; }
.sup-currency dl a.add { font-size: 24px; line-height: 24px; padding: 5px; font-weight: 200; color: #a7bfd6; }
.sup-currency dl a + a { margin-left: 12px; }

.sup-showlayer { display: none; width: 100%; height: 100%; position: fixed; left: 0; top: 0; z-index: 9999; }

.sup-showlayer-bg { width: 100%; height: 100%; position: absolute; left: 0; top: 0; background-color: #000; opacity: 0.3; }

.sup-showlayer-cont { width: 900px; height: 575px; background-color: #fafafc; }

.sup-showlayer-hd { padding: 0 10px; position: absolute; top: 0; left: 0; width: 100%; height: 44px; line-height: 44px; background-color: #eef5fd; z-index: 9; box-sizing: border-box; }
.sup-showlayer-hd h3 { font-size: 18px; font-weight: normal; color: #000; }

.sup-showlayer-ft { position: absolute; bottom: 0; left: 0; padding: 0 10px; width: 100%; height: 50px; z-index: 9; box-sizing: border-box; }

.sup-showlayer-ct { height: 100%; padding: 10px; position: relative; z-index: 8; box-sizing: border-box; }

.sup-showlayer-ctl { width: 200px; height: 100%; padding-top: 32px; border: 1px solid #cadcf2; background-color: #fff; box-sizing: border-box; }

.sup-showlayer-ctr { width: 670px; height: 100%; border: 1px solid #cadcf2; background-color: #fff; box-sizing: border-box; overflow-y: auto; }
.sup-showlayer-ctr ul { padding: 10px; }
.sup-showlayer-ctr ul li { padding-right: 20px; height: 36px; line-height: 36px; width: 33.33333%; float: left; display: table; font-size: 0; text-align: left; box-sizing: border-box; }
.sup-showlayer-ctr ul li input { display: inline-block; vertical-align: middle; }
.sup-showlayer-ctr ul li span { display: inline-block; vertical-align: middle; font-size: 14px; margin-left: 8px; }

.sup-ctl-sh { margin-top: -32px; height: 32px; line-height: 32px; border-bottom: 1px solid #cadcf2; background-color: #f7f7f7; box-sizing: border-box; }

.sup-ctl-ct { height: 100%; overflow-y: auto; }
.sup-ctl-ct ul li { height: 32px; line-height: 32px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; padding: 0 10px; color: #000; }
.sup-ctl-ct ul li.active { background-color: #eef5fd; }

.sup-showlayer-currency { width: 100%; height: 100%; border: 1px solid #cadcf2; border-radius: 2px; background-color: #fff; box-sizing: border-box; overflow-y: auto; }
.sup-showlayer-currency ul { padding: 10px; }
.sup-showlayer-currency ul li { padding-right: 20px; height: 36px; line-height: 36px; width: 100%; float: left; display: table; font-size: 0; text-align: left; box-sizing: border-box; }
.sup-showlayer-currency ul li input { display: inline-block; vertical-align: middle; }
.sup-showlayer-currency ul li span { display: inline-block; vertical-align: middle; font-size: 14px; margin-left: 8px; }
