a{
    color: #333;
    text-decoration: none;
}

.overflow-box{
    overflow: auto;
    position:absolute;
    left:10px;
    top:50px;
    bottom: 10px;
    right:10px;
}

.list-style-none{
    list-style: none;
}
.bg-white{
    background-color: white;
}
.mg-30{
    margin: 20px;
}

.mt-10{
    margin-top:10px!important;
}

.wd-100deg{
    width:100%!important;
}

.vertop{
    vertical-align: top !important;
}

.ml0{
    margin-left:0!important
}

.wd30{
    width:30%
}

.wd70{
    width:70%
}

.mglr-10{
    margin: 0 10px;
}
.wd-220{
    width: 220px;
}

.block{
    width:100% !important;
    display: block !important;
}

.wd-110{
    width:110px !important;
}
.none{
    display: none !important;
}
.pdt-50{
    padding-top: 50px;
}
.wd-66{
    width: 66px;
}
.fl-right{
    float: right;
}
.fl-left{
    float: left;
}
.tx-right{
    text-align: right;
}
.tx-left{
    text-align: left;
}
.pl-10{
    padding-left: 10px;
}

.textleft{
    text-align:left!important;
}

.textright{
    text-align:right!important;
}

.textcenter{
    text-align: center!important;
}

.wd100{
    width:100px !important;
}

.pdlr-0{
    padding-left: 0!important;
    padding-right: 0!important
}

.ml-10{
    margin-left:10px;
}
.clearfix {
    zoom: 1;
}

.clearfix:after {
    display: block;
    content: '';
    clear: both;
}
.flex{
    display:flex;
}

.flex-right{
    display:flex;
    justify-content: flex-end;
}

.flex-left{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.flex-center{
    display: flex;
    justify-content: center;
    align-items:center;
}

.pd10{
    padding:10px;
}

.disabled{
    border:1px solid transparent !important;
    background:transparent !important;
}

.abled{
    border:1px solid transparent !important;
    background: #f7f7f7;
}

.header {
    width: 100%;
    height: 50px;
    color: #000;
    background:-webkit-gradient(linear,left bottom,left top,from(#cfe2f9),color-stop(0.2,#cfe2f9),to(#edf4fd));
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1000;
    border-bottom: 1px solid #dde6ef;
}

.user-info{
    float: right;
    line-height: 50px;

}
.user-info img{
    vertical-align: middle;
    width: 34px;
    height: 34px;
    border-radius: 55%;
    border: 2px solid white;
    margin-right: 10px;
}
.header-fixed-top {
    top: 0;
}

.header-logo {
    float: left;
    display: inline-block;
    width: 220px;
    height: 50px;
    font-size: 20px;
    line-height: 50px;
    color: #000;
    padding-left: 16px;
}
.logo{
    display: inline-block;
    height: 22px;
    width: 36px;
    background: url(../images/logo.png) no-repeat;
    background-size:cover;
    vertical-align: -5px;
    margin-right: 10px;
}
.header-wh {
    height: 50px;
    line-height: 50px;
    padding: 0 24px 0 10px;
}

.header-title {
    float: left;
}

/*头部导航 start*/
.header-bar {
    float: right;
}

.header-bar> ul> li {
    width: 50px;
    text-align: center;
    list-style: none;
    float: left;
    position: relative;
}

.header-bar ul li> a {
    color: #999;
}

.header-bar ul li .arrow {
    display: none;
}

.header-bar ul li:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, .07);
}

.header-bar> ul li> ul {
    width: 180px;
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    text-align: left;
    list-style: none;
    background-color: white;
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    border-radius: 4px;
}


/*.header-bar ul li:hover ul{
				display: block;
			}*/

.header-bar ul li.open {
    background-color: rgba(255, 255, 255, .07);
}

.header-bar ul li.open ul {
    display: block;
}

.header-bar ul ul li a {
    color: #333;
    display: block;
    padding: 19px 16px;
    line-height: 1;
}

.header-bar ul ul li a:hover {
    background-color: rgba(237, 240, 245, .5);
}

.header-bar ul ul li span:nth-child(1) {
    width: 14px;
    height: 14px;
    margin-right: 15px;
}
/*头部导航 end*/

/*左边导航栏样式 strat*/
.navbar {
    width: 220px;
    background-color: #fff;
    position: fixed;
    z-index: 999;
    top: 50px;
    left: 0px;
    bottom: 0px;
    overflow: hidden;
    border-right:1px solid #dde6ef;
}
.date-time{
    height: 57px;
    line-height: 57px;
    padding-left: 35px;
    position: relative;
    color: #000;
    background-color:#d8e8f9;
}
.date-time .date{
    font-size: 15px;
    margin-right:10px;
}
.date-time .week{
    font-size: 14px;
}
.date-time .go-left{
    position: absolute;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 10px 0 0 10px;
    background-color: #f3f7fa;
    top: 50%;
    right: 0;
    margin-top: -10px;
    text-align: center;
    line-height: 20px;
    color: #a7b1c2;
}
.navbar-wrap {
    width: 220px;
    overflow-y: hidden;
    height: 100%;
}

.navbar-list {
    width: 220px;
}

.navbar-list ul ul ul a{
    padding-left: 40px;
}
.navbar-list li a {
    display: flex;
    align-items: center;
    height:45px;
    position:relative;
    padding:0 16px;
    font-size: 14px;
    color: #000;
}

.navbar-list li a span:nth-child(1) {
    display: inline-block;
    width: 14px;
    height: 14px;
    color:#666;
    margin-top:-2px;
}

.navbar-list li a span:nth-child(2) {
    display: inline-block;
    margin-left: 15px;
    color:#666;
}

.navbar-list ul li a .arrow {
    position: absolute;
    right: 10px;
    top:12px;
    float: right;
    transform: translateY(2px);
    transition: all .2s ease;
}

.navbar-list ul li.open> a .arrow {
    position: absolute;
    right: 10px;
    top:12px;
    float: right;
    transform: rotate(90deg);
    transition: all .2s ease;
}

.navbar-list>ul>li.open>ul {
    display: block;
}

.navbar-list>ul ul>li.open>ul {
    display: block;
}

.navbar-list li ul {
    display: none;
}

.navbar-list a{
    box-sizing: border-box;
    border-top:1px solid transparent;
    border-bottom:1px solid transparent;
}

.navbar-list a:hover {
    background-color: #fafafa;
    border-top:1px solid #dde6ef;
    border-bottom:1px solid #dde6ef;
}

/*左边导航栏样式 end*/

/*表格样式start*/
table {
    border-collapse: collapse;
}

.table-list {
    font-size:14px;
    width: 100%;
    border: 1px solid #d5e5ed;
    border-left: none;
    border-right: none;
}

.table-list thead tr th,
.table-list tbody tr td {
    text-align: center;
    border-bottom: 1px solid #d5e5ed;
    vertical-align: middle;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding:0 5px;
}

.table-list thead tr th{
    height:40px;
}

.table-list tbody tr td{
    height:45px;
}

.table-list thead tr th {
    padding: 0px 5px;
    font-weight: normal;
    color: #333;
}

.table-list thead tr {
    background: #e5edfa;
    color: #666;
}

/*search-group*/

/*btn start*/
.btn-def{
    display:inline-block;
    box-sizing:border-box;
    height:28px;
    line-height:25px;
    padding:0 10px;
    border: 1px solid #becfe4;
    border-radius: 2px;
    background:transparent;
    cursor:pointer;
    font-size: 14px !important;
}

.btn-def:hover,.btn-def.chk{
    color:#017aff;
    border-color:#017aff;
}

input:focus {
    border:1px solid #017aff;
}

/*btn end*/

/*容器——两类，一类全页面，一类有左侧导航栏*/
.nav-box,.full-box{
    height: 100%;
    min-width: 1260px;
    box-sizing:border-box;
    position:relative;
    display:block;
    background: #fff;
}

.nav-box{
    padding:60px 10px 10px 230px;
}

.full-box{
    padding:60px 10px 10px 10px;
}

.full-box .full-header{
    padding:0 240px;
    height:100px;
    margin-top: -10px;
    background-color:#eff5fd;
    text-align: center;
}

.full-header h2{
    font-size:18px;
    padding:10px 0 40px 0;
}

.full-box .content{
    padding:10px 240px;
}

.content{
    box-sizing:border-box;
    width:100%;
    min-height:100%;
    background:#fff;
    border: 1px solid #dee8f2;
}

/*左右布局 strat*/
.content .left_list{
    box-sizing:border-box;
    border-right:1px solid #d9dade;
    overflow: hidden;
    width:30%;
}

.content .right_list{
    position:relative;
    box-sizing:border-box;
    overflow: hidden;
    width:70%
}

.left_list .list_header,.right_list .list_header{
    display:flex;
    align-items:center;
    padding:10px;
    width: 100%;
    height: 40px;
    background: #d8e8f9;
}

.list_float li{
    height:50px;
    line-height:50px;
    padding-left:20px;
    border-bottom:1px solid #f1f1f3
}

.list_float li.ckd,
.list_float li:hover{
    background-color:#ecf5ff
}

.list_float li a{
    display:inline-block;
    width:100%;
    height:100%
}

/*左右布局 end*/

/*form lei*/
input,select{
    box-sizing:border-box;
    font-size:14px;
    vertical-align: middle;
}

input[type='text'],select{
    border-radius:2px;
    border:1px solid #d5e5ed;
    width:146px;
    height:28px;
    line-height:28px;
}

input[type='text']{
    padding:0 10px;
}

select{
    padding-left:10px;
}

.form-group{
    font-size:0px;
}

.info-group p{
    display:inline-block;
    height:28px;
    line-height: 28px;
    padding-left:10px;
    width: 263px;
}

.info-group span{
    display: inline-block;
    height:28px;
    line-height: 28px;
    vertical-align: middle;
}

.btn-group{
    width:auto;
    display:inline-block;
}

.btn-group *{
    margin-left:10px;
}

.search-block{
    display:block;
    margin:15px 0;
    vertical-align: top;
}

.search-block .error{
    padding-left:0px;
}

.search-inb{
    display:inline-block;
    margin:15px 0;
    vertical-align: top;
    width:50%;
}

.search-block *,.search-inb * ,.search-dialog *{
    box-sizing: border-box;
    vertical-align: middle;
    font-size:14px;
}

.search-block select,
.search-block input[type="text"],
.search-block input[type="submit"],
.search-block textarea,
.search-dialog select,
.search-dialog input[type='text'],
.search-dialog input[type='submit'],
.search-dialog textarea,
.search-inb select,
.search-inb input[type="text"],
.search-inb input[type="submit"],
.search-inb textarea {
    font-size: 14px;
}
.search-inb select,
.search-inb input[type="text"],
.search-inb input[type="submit"],
.search-inb textarea{
    margin-left: 10px;
}


.search-block label,.search-inb label,.search-dialog label {
    font-size: 14px;
    color: #666;
    height:28px;
    line-height:28px;
    position: relative;
}

.search-block label{
    display:block;
    padding-left:10px;
    margin-bottom: 15px;
}

.search-dialog label{
    display: block;
}

.search-dialog input[type='text']{
    width: 263px;
}

.search-inb label{
    display:inline-block;
    width: 110px;
    text-align: right;
}


.must-point{
    height: 28px;
    color: #ff6600;
    line-height: 28px;
    vertical-align: -3px;
    display: inline-block;
    width: 10px;
    margin-left: -10px;
}

.error{
    margin-top: 5px;
    line-height: 1em;
    color: #f94a05;
    padding-left: 125px;
}

.search-block select,
.search-block input[type="text"],
.search-inb select,
.search-inb input[type="text"] {
    padding: 0 10px;
    width: 263px;
    height: 28px;
    border: 1px solid #dee8f2;
}

.s-input{
    position: relative;
    display: inline-block;
}

.s-input input[type=text]{
    padding-right:64px;
}

.s-input .icon-close,.s-input .icon-search{
    position: absolute;
    top:0;
    display:inline-block;
    margin: 6px;
    width:16px;
    height: 16px;
    cursor:pointer;
}

.s-input .r1{
    right:0;
}

.s-input .r2{
    right:28px;
}

.s-input .icon-search:before{
    content: '';
    display:inline-block;
    position:absolute;
    left:-6px;
    top:-6px;
    width:1px;
    height: 28px;
    background:#dee8f2;
}

/*form lei*/

/*分页*/
.g-pagebar{text-align:center;padding:8px 0;width:100%;font-size:14px;cursor:default;}
.pagebar_numlist a, .pagebar_numlist .pagebar_numlist_current{margin:0px 2px;padding:0 12px; line-height:30px;border-radius:3px;display:inline-block;}
.pagebar_numlist a{border:1px solid #e3e3e3;border-radius:3px;background-color:#FFF;}
.pagebar_numlist .pagebar_numlist_current,.pagebar_numlist a:hover{background-color:#3277de;color:#fff;border:1px solid #3277de;}
.pagebar_numlist .g-pagenext,.pagebar_numlist .g-pageprev{background-image:url(../images/arrows.png);background-repeat:no-repeat;padding:0 16px;line-height: 30px;}
.pagebar_numlist .g-pagenext{background-position:center -52px;}
.pagebar_numlist .g-pageprev{background-position:center -5px;}
.pagebar_numlist  .g-pageprev:hover{background-position:center -101px;}
.pagebar_numlist .g-pagenext:hover{background-position:center -148px;}
.pagebar_numlist span em{display:inline-block;padding:8px 0;*vertical-align:middle;}
.pagebar_numlist input{width:30px;
    height:30px; line-height:30px;
    padding:0;text-align:center;margin:0 3px;border-radius:3px;*vertical-align:middle;}
.pagebar_numlist button{padding:8px 12px;*padding:6px 6px;*vertical-align:middle;text-align:center;margin:0 3px;border-radius:3px;outline:none;cursor:pointer;font-size:14px;}
.pagebar_numlist button:hover{background:#3277de;color:#FFF;}
.pagebar_numlist em{
    font-style: normal;
}